@font-face {
  font-family: yuanti;
  src: url('resources/font/yuanti.ttf');
}
@font-face {
  font-family: HummingStd;
  src: url('resources/font/primula-HummingStd-E-1.woff2');
}
@font-face {
  font-family: HummingStd;
  src: url('resources/font/primula-HummingStd-E-2.woff2');
}
